@require "../../hostlib"

$arrow_height = 36px // must be even!

arrow_width($h)
  round($h * 0.4)

/*------------------------------*\
  #SERVICES
\*------------------------------*/

.services
  width 100%
  padding 16px 0

.item
  width auto
  list-style none

/*---- Banner image ----*/

.banner
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 12% 50%;

/*---- Item header / title ----*/

.titleDots
  color #999

.item__header
  position relative
  margin 5px 8px 0
  width auto
  background color_grey
  text-transform uppercase
  &:hover
    cursor pointer
    background-color darken(color_grey, 3%)
    color color_red

.item__header_OPEN
  border-radius 3px
  color color_red
  font-size 42px
  font-weight 900
  height auto
  line-height @height
  text-align center

.item__header_CLOSE
  padding-left 12px
  border-radius 3px 0 0 3px
  margin-right (arrow_width($arrow_height) + 8)
  height $arrow_height
  line-height @height
  font-size 26px
  font-weight 500
  text-align left

// ====> Arrow
.item__header_CLOSE::before
  content " "
  position absolute
  display block
  left 100%

  width  0
  height 0
  border-top ($arrow_height / 2) solid transparent
  border-left arrow_width($arrow_height) solid color_grey
  border-bottom @border-top

// ====> Arrow hovered
.item__header_CLOSE:hover::before
  border-left-color darken(color_grey, 3%)


/*---- Item content ----*/

$col2_width = 500px
$col3_width = 800px

.item__content
  display none
  width auto
  padding 8px 10px
  margin-bottom 24px
  text-align left
  font-size 18px

.item__contentAA
  width 100%
  padding 8px
  border 1px solid darken(color_grey, 5%)
  border-radius 4px

.item__contentIS
  column-count 1
  width 100%
  max-width 1200px
  margin auto
  @media screen and (min-width: $col2_width)
    column-count 2
  @media screen and (min-width: $col3_width)
    column-count 3

.item__content h4, .item__content h4
  font-size 22px
  padding-left 25px
  white-space normal

.item__content :global(.a-list)
  padding 8px 4px 24px 20px
  list-style none

.item__content :global(.a-list) li::before
  content "\2013"
  padding-right 6px
  margin-left -17px
  display inline-block

.item__content :global(.b-list)
  padding 8px 6px 12px 18px
  list-style disc outside

.itemImage
  width 93%
  max-width 600px

// Show additional images only with 3 columns
@media screen and (max-width: $col3_width)
  .itemImage_ADD
    display none


/*------------------------------*\
  #RESPONSIVENESS
\*------------------------------*/

@media screen and (max-width: (sm_grid_width - 1))
 .banner
   display none

@media screen and (min-width: xl_grid_width)
  $new_height = $arrow_height + 5

  .item__header_CLOSE
    padding-left 6%
    font-size 28px
    height $new_height
    line-height @height

  .item__header_CLOSE::before
    border-top-width    ($new_height / 2)
    border-left-width   arrow_width($new_height)
    border-bottom-width @border-top-width

  .services_REST
    width auto
    margin-left 4%
    margin-right 6%

@media screen and (max-width: sm_grid_width)
  .item__header_OPEN
    font-size 27px
