@require "../hostlib"

$arrow_height = 36px // must be even!

arrow_width($h)
  round($h * 0.4)

/*------------------------------*\
  #SERVICES
\*------------------------------*/

.com-services
  width 100%
  padding 16px 0

  .services-item
    width auto
    list-style none

  .aaa
    height 90%
    margin 0 2px
    border-radius 4px
    border 1px solid #666
    background-image: url(/images/service-latun.jpg)
    background-size: contain
    background-repeat: no-repeat
    background-position: center center

  /*---- Banner image ----*/

  .services-banner
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;

  /*---- Item header / title ----*/

  .services-item__header
    margin 5px 8px 0 8px
    padding-left 12px
    width auto
    height $arrow_height

    background color_grey
    font-size 26px
    font-weight 500
    line-height $arrow_height
    text-align left
    text-transform uppercase

  .services-item__header--open
    border-radius 3px
    color color_red
    text-align center

  .services-item__header--close
    border-radius 3px 0 0 3px
    margin-right (arrow_width($arrow_height) + 8)

  // ====> Arrow
  .services-item__header--close:before
    content " "
    position absolute
    display block
    left 100%

    width  0
    height 0
    border-top ($arrow_height / 2) solid transparent
    border-left arrow_width($arrow_height) solid color_grey
    border-bottom @border-top

  // ====> Arrow hovered
  .services-item__header--close:hover:before
    border-left-color darken(color_grey, 3%)

  .services-item__header
    &:hover
      cursor pointer
      background-color darken(color_grey, 3%)
      color color_red

  /*---- Item content ----*/

  .services-item__content
    display none
    width auto
    padding 16px 10px 8px 10px
    margin-bottom 24px
    text-align left
    font-size 18px
    border-bottom 1px dashed #333

  .services-item__content h4, .services-item__content h4
    font-size 22px
    padding-left 25px
    white-space normal

  .services-item__content .a-list
    padding 8px 4px 8px 20px
    list-style none

  .services-item__content .a-list li:before
    content "\2013"
    padding-right 6px
    margin-left -17px
    display inline-block
  
  .services-item__content .b-list
    padding 8px 6px 8px 18px
    list-style disc outside

  .services-item__image
    width auto
    border-radius 6px
    background-color color_grey
    border 1px solid color_grey
    padding 6px

  .services-item__image-is
    width 93%


  /*------------------------------*\
    #RESPONSIVENESS
  \*------------------------------*/

  @media screen and (max-width: sm_grid_width)
   .services-banner
     display none

  @media screen and (min-width: xl_grid_width)
    $new_height = $arrow_height + 5

    .services-item__header
      padding-left 28px
      font-size 28px
      height $new_height
      line-height $new_height

    .services-item__header--close:before
      border-top-width    ($new_height / 2)
      border-left-width   arrow_width($new_height)
      border-bottom-width @border-top-width

    .services--rest
      width 85%
