
@require "../../hostlib"

/*------------------------------*\
  #ADVANTAGES
\*------------------------------*/

$adv_ico_width  = 38px
$adv_ico_aspect = 0.73
$adv_svg_aspect = 0.84

//--------------------------------

.advantages
  width 100%

.icon
  display inline-block
  margin-top 2px

  width  $adv_ico_width
  height @width

  border-radius round($adv_ico_width / 2)
  border-top 1px solid #f1f1f1
  box-shadow 0 2px 1px 0 #d6d6d6

  background-color #fff
  text-align center
  line-height $adv_ico_width

.iconSvg
  width  round($adv_ico_width * $adv_ico_aspect)
  height @width
  margin-top -2px
  vertical-align middle
  fill currentColor

.itemTitle
  margin-top 4px
  font-size 15px
  text-transform uppercase

.itemDesc
  font-size 12px
  line-height 16px

@media screen and (min-width: md_grid_width)
  .itemTitle, .itemDesc
    padding 0 3%

$new_ico_width = $adv_ico_width + 20
@media screen and (min-width: lg_grid_width)
  .advantages
    padding 12px 6% 25px
    width auto

  .icon
    width  $new_ico_width
    height @width
    border-radius round($new_ico_width / 2)
    line-height $new_ico_width

  .iconSvg
    width  round($new_ico_width * $adv_ico_aspect)
    height @width

  .itemTitle
    margin-top 8px
    font-size 18px

  .itemDesc
    font-size 16px
    line-height 20px

