/*------------------------------*\
  #HOST-JS-SHARED-VARIABLES
\*------------------------------*/

text_color = #333
color_red = #cc0000

// background rgba(230,230,230,0.95)
color_grey = rgb(225,225,225)

// JuicedCSS grid responsive sizes (max-width: 1170px)
// xs_grid_width = 360px
// sm_grid_width = 480px
// md_grid_width = 600px
// lg_grid_width = 720px
// xl_grid_width = 800px
// hd_grid_width = 960px


/*------------------------------*\
  #HOST-VARIABLES/FUNCTIONS
\*------------------------------*/


path_pub = '../public'

header_height = 54px
footer_height = 28px

// image_pricetag    = '/images/svg/price-tag.svg'
// pricetag_height   = image_height(path_pub + image_pricetag)
// pricetag_width    = image_width(path_pub + image_pricetag)

image_width(img)
  return image-size(img)[0]
  
image_height(img)
  return image-size(img)[1]

/*------------------------------*\
  #COMMON
\*------------------------------*/

body, html, img, address, table, tr, td, th, div, p, ul, li,
h1, h2, h3, h4, h5, h6
  margin 0
  border 0 none
  padding 0

body, html
  width 100%
  height 100%
  
body
  background-color #eee
  // text-decoration none

//   color text_color
//   font-family "Roboto", "Open Sans", "lucida grande", "Segoe UI", arial, verdana, "lucida sans unicode", tahoma, sans-serif

// IE fix for SVG images
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
  img[src$=".svg"]
    width 100%

 
/*------------------------------*\
  #HEADER
\*------------------------------*/

/* -------- Phone -------- */
.phone
  z-index 1
  position absolute
  top 28px
  left 50%
  right auto
  bottom auto
  padding-left 36px
  font-family Roboto,sans-serif,Arial,Tahoma,Verdana
  font-size 48px
  font-weight bold
  // color #333
  $shadow_color = #fff
  color #ee0405
  text-shadow 0 0 6px $shadow_color, 0 0 8px $shadow_color, 0 0 16px $shadow_color, 0 0 24px $shadow_color, 0 0 28px $shadow_color, 0 0 32px $shadow_color
  text-decoration none

/* -------- Price tag -------- */
$price_width = 200px

.price-tag
  z-index 2
  position fixed
  top   0
  left  50%
  margin-left -(round($price_width * 1.1))
  cursor pointer

.price-tag__svg
  width $price_width

/*------------------------------*\
  #GALLERY
\*------------------------------*/

$cell_padding  = 10px
$title_padding = 20px

.main-gallery
  position absolute
  top    $cell_padding
  left   0
  right  0
  bottom 0

.gallery-title
  $shadow_color = #fff
  //color #cc0000
  color blue
  text-shadow 0 0 6px $shadow_color, 0 0 8px $shadow_color, 0 0 10px $shadow_color, 0 0 12px $shadow_color, 0 0 16px $shadow_color
  font-size 48px
  font-weight bold
  font-family sans-serif,Arial,Tahoma,Verdana
  text-transform uppercase
  padding-top 16px
  padding-bottom @padding-top

.gallery-link
  cursor pointer

/* -------- Modal -------- */
.gallery-modal
  z-index 9
  display none
  position fixed
  top    0
  bottom 0
  left   0
  right  0
  opacity 0
  padding 40px 10%
  background rgba(0, 0, 0, 0.65)
  transition opacity 1s

.gallery-modal-is
  position relative
  width  100%
  height 100%
  background #eee
  border-radius 4px
  border 1px solid #ddd
  text-align center

$modal_text_height = 96px
$modal_padding = 16px
.modal-image
  position absolute
  top    $modal_padding
  left   @top
  right  @top
  bottom ($modal_text_height + $modal_padding)
  background-size cover
  background-repeat no-repeat
  background-position center center

.modal-text
  position absolute
  top    auto
  left   $modal_padding
  right  @left
  bottom @left
  height $modal_text_height
  color #000
  font-size 40px

.modal-image--alu
  background-image url(/images/gallery-alu.jpg)

/* -------- Container -------- */
.gallery-box
  position relative

.gallery-box-is
  position absolute
  border 1px solid #ccc
  border-radius 18px
  background-size cover
  background-repeat no-repeat
  background-position center center

.gallery-box--tl
  top    0
  bottom ($cell_padding / 2)
  left   $cell_padding
  right  ($cell_padding / 2)
  background-image url(/images/gallery-alu.jpg)
  padding-left $title_padding
  text-align center

.gallery-box--tr
  top    0
  bottom ($cell_padding / 2)
  left   ($cell_padding / 2)
  right  $cell_padding
  background-image url(/images/gallery-chugun.jpg)
  padding-right $title_padding
  text-align center


.gallery-box--bl
  top    ($cell_padding / 2)
  bottom $cell_padding
  left   $cell_padding
  right  ($cell_padding / 2)
  background-image url(/images/gallery-ss.jpg)
  padding-right $title_padding
  text-align right

.gallery-box--br
  top    ($cell_padding / 2)
  bottom $cell_padding
  left   ($cell_padding / 2)
  right  $cell_padding
  background-image url(/images/gallery-copper2.jpg)
  padding-left $title_padding
  text-align left

  
/*------------------------------*\
  #BANNER
\*------------------------------*/

$banner_size = 320px
$banner_padding = 12px
$banner_image = '/images/banner-welder.jpg'

.banner
  z-index 1
  position absolute
  top  50%
  left @top
  border-radius ($banner_size / 2)
  margin-top  -@border-radius
  margin-left @margin-top
  width  $banner_size
  height @width
  background #fff

.banner-is
  border-radius (($banner_size - $banner_padding * 2) / 2)
  width  ($banner_size - $banner_padding * 2)
  height @width
  margin $banner_padding auto auto $banner_padding
  background-image url($banner_image)
  background-repeat no-repeat
  background-position center center
  background-size cover
  box-shadow 0 0 4px #999
  cursor pointer


/*------------------------------*\
  #RESPONSIVE
\*------------------------------*/

// @media screen and (max-width: 900px)
//   .gallery-title
//     font-size 42px
//


/*------------------------------*\
  #ANIMATION
\*------------------------------*/

/* -------- Price tag -------- */
@keyframes host-pulse
  from
    transform scale(1)

  40%
    transform scale(1.4)

  to
    transform scale(1)

.animate-price
  animation-duration 1.5s
  animation-fill-mode both
  animation-name host-pulse
  animation-timing-function ease-in-out

/* -------- Welder -------- */
@keyframes host-pulseBig
  from
    transform scale(1)

  40%
    transform scale(1.6)

  to
    transform scale(1)

.animate-welder
  animation-duration 2.5s
  animation-fill-mode both
  animation-name host-pulseBig
  animation-timing-function ease-in-out

