
@require "hostlib.styl"

/*------------------------------*\
  #COMMON
\*------------------------------*/

body, html, img, address, table, tr, td, th, div, p, ul, li,
h1, h2, h3, h4, h5, h6
  margin 0
  border 0 none
  padding 0

body, html
  width 100%
  height 100%
  
body
  background-color #eee

//   color text_color
//   font-family "Roboto", "Open Sans", "lucida grande", "Segoe UI", arial, verdana, "lucida sans unicode", tahoma, sans-serif

// IE fix for SVG images
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
  img[src$=".svg"]
    width 100%

 
/*------------------------------*\
  #HEADER
\*------------------------------*/

$header_height = 72px

.main-header
  height $header_height
  padding 0 180px 0 12px
  font-weight bold
  font-family sans-serif,Arial,Tahoma,Verdana
  text-transform uppercase

.phone-box
  padding 10px

.phone-link
  padding 0 24px
  font-size 40px
  font-weight bold
  color #333
  text-decoration none

/* -------- Logo -------- */
.logo
  $argon_logo = '/images/argon-logo.png'
  width image_width(path_pub + $argon_logo)
  height image_height(path_pub + $argon_logo)
  background-image url($argon_logo)
  background-repeat no-repeat
  background-position center center

/* -------- Price tag -------- */
.price-tag
  z-index 1
  position fixed
  top   0
  right 0
  &:hover
    cursor pointer

$new_pricetag_h = 100px
.price-tag__svg
  height 72px
  margin-top -2px
  @media screen and (min-width: lg_grid_width)
    height $new_pricetag_h


/*------------------------------*\
  #MAIN-PICS
\*------------------------------*/

.main-gallery
  position absolute
  top    $header_height
  left   0
  right  0
  bottom 0

.title-box
  height 100%
  min-height 120px

.gallery-title
  $shadow_color = #eee
  color #cc0000
  text-shadow 0 0 6px $shadow_color, 0 0 8px $shadow_color, 0 0 10px $shadow_color, 0 0 12px $shadow_color, 0 0 16px $shadow_color
  font-size 48px
  font-weight bold
  font-family sans-serif,Arial,Tahoma,Verdana
  text-transform uppercase
  padding 16px 140px

.gallery-box
  position relative

$cell_padding = 10px
.gallery-box-is
  position absolute
  border 1px solid #ccc
  border-radius 18px
  background-size cover
  background-repeat no-repeat
  background-position center center

.gallery-box--tl
  top    0
  bottom ($cell_padding / 2)
  left   $cell_padding
  right  ($cell_padding / 2)
  background-image url(/images/gallery-alu.jpg)

.gallery-box--tr
  top    0
  bottom ($cell_padding / 2)
  left   ($cell_padding / 2)
  right  $cell_padding
  background-image url(/images/gallery-chugun.jpg)

.gallery-box--bl
  top    ($cell_padding / 2)
  bottom $cell_padding
  left   $cell_padding
  right  ($cell_padding / 2)
  background-image url(/images/gallery-ss.jpg)

.gallery-box--br
  top    ($cell_padding / 2)
  bottom $cell_padding
  left   ($cell_padding / 2)
  right  $cell_padding
  background-image url(/images/gallery-copper2.jpg)

  
/*------------------------------*\
  #BANNER
\*------------------------------*/

.banner
  z-index 1
  position absolute
  top $header_height
  left 0
  bottom 0
  right 0
  $banner_image = '/images/banner-welcome.png'
  background-image url($banner_image)
  background-repeat no-repeat
  background-position center center


@media screen and (max-width: lg_grid_width)
  .banner
    background-size 128px

  .gallery-title
    font-size 36px

// 960px
@media screen and (min-width: 960px)
  /*---- Also fix price tag ----*/

  .price-tag
    top 1%
    right 1%

